/*수정하기 버튼*/
#plusBtn {
    display: flex;
    justify-content: center;
}

#btn1{
    width: 100px;
    height: 40px;
    font-size: large;
    background-color: rgb(127, 164, 231);
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    margin-bottom: 30px;
}

/* 검색버튼 */
.btn2Style{
    margin: 0 auto;
    
}

.btn3{   
    background: yellow;
    border-radius: 50px 50px;
    width: 50px;
    color: black;
    font-size: 30px;
   
}

/* 페이지 제목 */
.p1{
    font-size: 50px;
    text-align : center;
}



/* 빈공간 이미지 */
.box1{
    
    width: 300px;
    height: 200px;
    background: gainsboro;
    padding : 125px;
    margin : 50px;
}

/* 빈공간 이미지 wrap으로 감싼 부분 */
 .wrap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0;
	row-gap: 100px;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
    place-items: center;
    
} 

/* input태그, 검색button 설정 */
.ipt {
    height : 30px;
    display: flex;
    justify-content: space-between;
    justify-content: start;
    justify-content: center;

}


/* 이미지 밑에 글자, 체크박스 부분 */

.item img {
    width:20%;
    margin-left : 40%;
    text-align: center;
    margin-top: 50px;
    position: relative
}

/* mylist 제목부분 가운데 정렬*/
h1 {
    text-align: center;
}


/* 종연님 아이템 상세 페이지 css */

.wrapper{
    max-width: 1400px;
    margin:0 auto;
}

.imgUpMain {
    background-color: beige;
    border: 1px solid black;
    max-width: 600px;
    max-height: 600px;
}

#list {
    display: flex;
    flex-wrap: wrap;
    margin: auto 200px;
    justify-content: space-between;
}